/*
  Allow angular.js to be loaded in body, hiding cloaked elements until
  templates compile.  The !important is important given that there may be
  other selectors that are more specific or come later and might alter display.
 */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important; }

#main {
  padding-top: 60px; }

#btnNewUser {
  background-color: #000000;
  color: #ffffff; }

table thead tr th:last-child {
  text-align: right; }

input.form-control.ng-pristine.ng-empty.ng-invalid.ng-invalid-required.ng-touched {
  box-shadow: 0 0 2px rgba(255, 0, 0, 0.9); }

input.form-control.ng-touched.ng-not-empty.ng-dirty.ng-valid-parse.ng-valid.ng-valid-required {
  box-shadow: 0 0 2px rgba(22, 200, 87, 0.9); }
