<div class="form-group">
    <label>First Name:</label>
    <input type="text" name="first_name" ng-model="user.first_name" class="form-control" required/><br/>
</div>
<div class="form-group">
    <label>Last Name:</label>
    <input type="text" name="last_name" ng-model="user.last_name" class="form-control" required/><br/>
</div>
<label>Gender:</label>
<div class="radio">
    <label>
        <input type="radio" ng-model="user.gender" required value="M"/>male
    </label>
    <label>
        <input type="radio" ng-model="user.gender" required value="F"/>female
    </label>
</div>
<div class="form-group">
    <label>City: </label>
    <input type="text" name="city" ng-model="user.city" class="form-control" required/>
</div>
<div class="form-group">
    <label>State: </label>
    <input type="text" name="state" ng-model="user.state" class="form-control" required/><br/>
</div>